# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.so

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# Virtual environments
venv/
env/

# PyCharm or VSCode project files
.idea/
.vscode/

# System files
.DS_Store
Thumbs.db

# Logs
*.log

# Data files (optional)
*.csv
*.npz

# Environment variables or config (if added later)
.env
